<!DOCTYPE html>
<html ng-app="crmApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="crmCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ADD8E6; border-color: #C0C0C0;">
        <div class="container">
            <div class="navbar-header" style="margin-left: 480px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CRM SYSTEM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color: #6495ED; font-weight: bold;" })
            </div>
            <div class="navbar-collapse collapse">
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
